<div class="card">
    <p-table
        #dt2
        [value]="tareas"
        dataKey="id"
        [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="loading"
        [paginator]="true"
        [globalFilterFields]="['titulo', 'descripcion', 'responsable', 'estado']"
        [tableStyle]="{ 'min-width': '75rem' }"
    >
    <ng-template pTemplate="caption">
        <div class="flex">
            <p-iconField iconPosition="left" class="ml-auto">
                <p-inputIcon>
                    <i class="pi pi-search"></i>
                </p-inputIcon>
                <input 
                    pInputText 
                    type="text" 
                    (input)="applyFilterGlobal($event, 'contains')"
                    placeholder="Buscar" />
            </p-iconField>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width:22%">Titulo</th>
            <th style="width:22%">Descripcion</th>
            <th style="width:22%">Responsable</th>
            <th style="width:22%">Estado</th>
        </tr>
        <tr>
            <th>
                <p-columnFilter 
                    type="text"
                    field="titulo" 
                    placeholder="Buscar por Titulo" 
                    ariaLabel="Filter Name" />
            </th>
            <th>
                <p-columnFilter 
                    type="text"
                    field="descripcion"
                    placeholder="Buscar por Descripción" 
                    ariaLabel="Filter Country" />
            </th>
            <th>
                <p-columnFilter 
                    type="text"
                    field="responsable"
                    placeholder="Buscar por Responsable" 
                    ariaLabel="Filter Country" />
            </th>
             
            <th>
                <p-columnFilter field="estado" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown 
                            [ngModel]="value" 
                            [options]="statuses"
                            (onChange)="filter($event.value)" 
                            placeholder="Seleccione" 
                            [showClear]="true">
                                <ng-template let-option pTemplate="item">
                                    <p-tag 
                                        [value]="option.value" 
                                        [severity]="getSeverity(option.label)" />
                                </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tareas>
        <tr>
            <td>
                {{ tareas.titulo }}
            </td>
            <td>
                <span class="ml-1 vertical-align-middle">
                    {{ tareas.descripcion }}
                </span>
            </td>
            <td>
                <span class="ml-1 vertical-align-middle">
                    {{ tareas.responsable }}
                </span>
            </td>
            <td>
                <p-tag 
                    [value]="tareas.estado" 
                    [severity]="getSeverity(tareas.estado)" />
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5">No customers found.</td>
        </tr>
    </ng-template>
    </p-table>
</div>