<p-toast></p-toast>
<div class="card">
    <p-table
        #dt2
        [value]="tareas"
        dataKey="id"
        [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="loading"
        [paginator]="true"
        editMode="row"
        [tableStyle]="{ 'min-width': '75rem' }"
    >


    <ng-template pTemplate="header">
        <tr>
            <th style="width:22%">Titulo</th>
            <th style="width:22%">Detalle</th>
            <th style="width:22%">Responsable</th>
            <th style="width:22%">Fecha de inicio</th>
            <th style="width:22%">Fecha de fin</th>
            <th style="width:22%">Estado</th>
        </tr>
        <tr>
            <th>
                <p-columnFilter 
                    type="text"
                    field="title" 
                    placeholder="Buscar por Titulo" 
                    ariaLabel="Filter Name" />
            </th>
            <th>
                <p-columnFilter 
                    type="text"
                    field="detail"
                    placeholder="Buscar por Detalle" 
                    ariaLabel="Filter Country" />
            </th>
            <th>
                <p-columnFilter 
                    type="text"
                    field="responsable"
                    placeholder="Buscar por Responsable" 
                    ariaLabel="Filter Country" />
            </th>

            <th></th>
            <th></th>
            <th>
                <p-columnFilter field="completed" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown 
                            [ngModel]="value" 
                            [options]="statuses"
                            (onChange)="filter($event.value)" 
                            placeholder="Seleccione" 
                            [showClear]="true">
                                <ng-template let-option pTemplate="item">
                                    <p-tag 
                                        [value]="option.label" 
                                        [severity]="getSeverity(option.value)" />
                                </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th style="width:20%"></th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-tareas let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="tareas" [appResaltarTareaPendiente]="tareas.completed">
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input 
                            pInputText type="text" 
                            [(ngModel)]="tareas.title" />
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{tareas.title}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <span class="ml-1 vertical-align-middle">
                    {{ tareas.detail }}
                </span>
            </td>
            <td>
                <span class="ml-1 vertical-align-middle">
                    {{ tareas.responsable }}
                </span>
            </td>
            <td>
                <span class="ml-1 vertical-align-middle">
                    {{ tareas.fechaInicial | date:'dd/MM/yyyy' }}
                </span>
            </td>
            <td>
                <span class="ml-1 vertical-align-middle">
                    {{ tareas.fechaFinal | date:'dd/MM/yyyy' }}
                </span>
            </td>                        
            <td>
                <p-tag 
                    [value]="tareas.completed | convertirBoolean" 
                    [severity]="getSeverity(tareas.completed)" />
            </td>

            <td>
                <div class="flex align-items-center justify-content-center gap-2">
                    <button 
                        *ngIf="!editing" 
                        pButton 
                        pRipple 
                        type="button" 
                        pInitEditableRow 
                        icon="pi pi-pencil" 
                        (click)="onRowEditInit(tareas)" 
                        class="p-button-rounded p-button-text">
                    </button>
                    <button 
                        *ngIf="editing" 
                        pButton 
                        pRipple 
                        type="button" 
                        pSaveEditableRow 
                        icon="pi pi-check" 
                        (click)="onRowEditSave(tareas)" 
                        class="p-button-rounded p-button-text p-button-success mr-2">
                    </button>
                    <button 
                        *ngIf="editing" 
                        pButton pRipple 
                        type="button" 
                        pCancelEditableRow 
                        icon="pi pi-times" 
                        (click)="onRowEditCancel(tareas, ri)" 
                        class="p-button-rounded p-button-text p-button-danger">
                    </button>
                </div>
            </td> 
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5">No se han encontrado tareas.</td>
        </tr>
    </ng-template>
    </p-table>
</div>